#main {
    padding: 5%;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    margin: 0%;
    padding: 0%;
    width: auto;
    height: 20%;
}

#banner img {
    width: 100%;
}

#about {
    display: flex;
}

#portfolio,
#work-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: "Archivo Black", sans-serif;
    margin: 0%;
}

.subtitles {
    font-style: italic;
}

.img-container img {
    width: 50%;
    padding: 1%;
}